@model beestje_eindopdracht.ViewModels.BeestjesViewModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

<main class="tamagotchi-background fixed-background">

    <div class="flex-center pt-5">

        <div class="container crudpanel">

            @using (Html.BeginForm("Create", "Beestjes", FormMethod.Post))
            {
                <div class=" align-content-start ">
                    <div class="col-lg-6 p-2">
                        <h5 class="font-bold">Naam</h5>
                        <input name="Name" type="text" value="@Model.Name" class="form-control">
                        @Html.ValidationMessageFor(r => r.Name, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col-lg-6 p-2">
                    <h5 class="font-bold">Prijs <span class="badge blue requirements-text float-right rounded">Min: 100 Max: 500</span></h5>
                    <input name="Price" type="text" class="form-control" value="@Model.Price">
                    @Html.ValidationMessageFor(t => t.Price, "", new { @class = "text-danger" })
                </div>

                <h5 class="font-bold">Kamer Type</h5>
                @Html.ValidationMessageFor(r => r.BeestType, "", new { @class = "text-danger" })
                <div class="list-group">
                    <input name="BeestType" id="selected-aoroom" type="hidden" value="@Model.BeestType" />

                    @foreach (var roomType in Model.BeestTypes)
                    {
                        if (Model.BeestType != null)
                        {
                            if (Model.BeestType.Equals(roomType))
                            {
                                <a class="list-group-item list-group-item-warning active" data-toggle="list"
                                   onclick='document.getElementById("selected-aoroom").value = "@Model.BeestType"'>@Model.BeestType</a>
                                continue;
                            }
                        }
                        <a class="list-group-item list-group-item-warning" data-toggle="list"
                           onclick='document.getElementById("selected-aoroom").value = "@roomType"'>@roomType</a>
                    }

                </div>

                <h5 class="font-bold" style="margin:25px 0;">Kamer foto</h5>
                <div class="list-group image-selector">
                    <input name="SelectedImageUrl" id="selected-image" type="hidden" value="@Model.SelectedImageUrl" />

                    <div class="d-flex align-content-start flex-wrap">
                        @foreach (var image in @Model.BeestImages)
                        {
                            if (Model.SelectedImageUrl != null)
                            {
                                if (Model.SelectedImageUrl.Equals(image))
                                {
                                    <div class="col-lg-4 p-2">
                                        <a class="list-group-item list-group-item-warning image-selector-item active" data-toggle="list"
                                           onclick='document.getElementById("selected-image").value = "@image"'>
                                            <img src="@image" class="img-fluid">
                                        </a>
                                    </div>
                                    continue;
                                }
                            }
                            <div class="col-lg-4 p-2">
                                <a class="list-group-item list-group-item-warning image-selector-item" data-toggle="list"
                                   onclick='document.getElementById("selected-image").value = "@image"'>
                                    <img src="@image" class="img-fluid">
                                </a>
                            </div>
                        }
                    </div>

                </div>

                <button type="submit" class="btn blue" style="margin-top:20px">Maak kamer aan</button>
            }

        </div>

    </div>


</main>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>