@model IEnumerable<beestje_eindopdracht.Models.Boeking>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.datum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.contact_naam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.contact_adres)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.contact_email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.contact_telefoonnummer)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.datum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.contact_naam)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.contact_adres)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.contact_email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.contact_telefoonnummer)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
